<strong>Olá, {{ organizer }}</strong>
<p>Nova inscrição realizada em <strong>{{ meetup }}</strong>, os dados do inscrito estão abaixo:</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    Essa meetup já possui <strong> {{ countSubscription }} </strong> inscritos.
  </small>
</p>
